#center{
    text-align: center;
}

ul{
    list-style-type: none;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    font-size: 18px;
    transition: 0.2s;
}

ul li:nth-child(odd) {
    /*got some of this css stuff from w3schools, this one and a couple others*/
    
    background: #f9f9f9;
}


ul li:hover {
    background: #ddd;
}


.close {
    /*position: absolute;
     top: 0;
     padding: 12px 16px 12px 16px;*/
    
    right: 0;
}


.close:hover {
    background-color: #f44336;
    color: white;
}


ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

input[type=text] {
    padding:5px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color:#333;
    background-color: #F08080;
}

input[type=submit] {
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

